<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186119629013-8fqi1rs2misdf53le0tlkgp07ubl4nhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186119629013-8fqi1rs2misdf53le0tlkgp07ubl4nhb</string>
	<key>API_KEY</key>
	<string>AIzaSyBf23AOR3JcpL5y7kG4eBfBHIOGE6_clgM</string>
	<key>GCM_SENDER_ID</key>
	<string>186119629013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.productList</string>
	<key>PROJECT_ID</key>
	<string>samplenotification-7e408</string>
	<key>STORAGE_BUCKET</key>
	<string>samplenotification-7e408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186119629013:ios:5cc96fcb01dad15b5e9a5c</string>
</dict>
</plist>